node_modules
/.idea
/.cache
/idea
/.vscode
/.shopify
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
/node_modules
database.sqlite

.env
.env.*





/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
.qodo
