
<style>
.image-grid {
  display: flex; /* Arrange circles horizontally */
  justify-content: center; /* Center the circles */
  gap: 20px; /* Space between circles */
}.image-circle {
  width: 150px; /* Adjust size as needed */
  height: 150px;
  border-radius: 50%; /* Make it a circle */
  overflow: hidden; /* Hide any image overflow */
}.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fill the circle with the image */
}
</style>

<div class="instagram-feed">
  <div class="image-grid">
    <div class="instagram-post">
      <div class="media-container">
        <img src="https://instagram.fdel27-2.fna.fbcdn.net/o1/v/t16/f2/m86/AQNOd4rT3f0qSvIsw4tqzf6ndynvjFpmiuoq8FPa9sgmin5VHBpUnEt6_9_lg3ZOid60XvUescXy9IsjtUsvxsU1U8ncbQ7sOgGFE04.mp4?efg=eyJ4cHZfYXNzZXRfaWQiOjY1MzM4MzcwMDc2NDczMCwidmVuY29kZV90YWciOiJ4cHZfcHJvZ3Jlc3NpdmUuSU5TVEFHUkFNLkNMSVBTLkMzLjg1NC5kYXNoX2Jhc2VsaW5lXzFfdjEifQ&_nc_ht=instagram.fdel27-2.fna.fbcdn.net&_nc_cat=100&_nc_oc=AdhtawRiYrb1Wsn1tdt79z2pTtoZDfFD3YZlR1_yQF9VtLbjQl588MYE99oqA4vb36I&vs=b96339ed062faa7e&_nc_vs=HBkcFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZCIvMjY0OUJFMzQzQzU1NzY0QjE3QjA2NzE3QjE1QjQ2QjY3X3ZpZGVvX2Rhc2hpbml0Lm1wNFUAAUgBAAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACb04Jb294-pAhUCKAJDMywXP_6n752yLQ4YEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HAA&ccb=9-4&oh=00_AYDbxqd-ZcGWWyMMdTZ8Fr0S4MeLjLTTQpi-oY8ySjd2zA&oe=67AD1C55&_nc_sid=1d576d"/>
        <video width="300" controls autoplay muted class="video">
          {% comment %} <source src="https://instagram.fdel27-2.fna.fbcdn.net/o1/v/t16/f2/m86/AQNOd4rT3f0qSvIsw4tqzf6ndynvjFpmiuoq8FPa9sgmin5VHBpUnEt6_9_lg3ZOid60XvUescXy9IsjtUsvxsU1U8ncbQ7sOgGFE04.mp4?efg=eyJ4cHZfYXNzZXRfaWQiOjY1MzM4MzcwMDc2NDczMCwidmVuY29kZV90YWciOiJ4cHZfcHJvZ3Jlc3NpdmUuSU5TVEFHUkFNLkNMSVBTLkMzLjg1NC5kYXNoX2Jhc2VsaW5lXzFfdjEifQ&_nc_ht=instagram.fdel27-2.fna.fbcdn.net&_nc_cat=100&_nc_oc=AdhtawRiYrb1Wsn1tdt79z2pTtoZDfFD3YZlR1_yQF9VtLbjQl588MYE99oqA4vb36I&vs=b96339ed062faa7e&_nc_vs=HBkcFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZCIvMjY0OUJFMzQzQzU1NzY0QjE3QjA2NzE3QjE1QjQ2QjY3X3ZpZGVvX2Rhc2hpbml0Lm1wNFUAAUgBAAoABgAGwKIB3VzZV9vaWwBMRJwcm9ncmVzc2l2ZV9yZWNpcGUBMRUAACb04Jb294-pAhUCKAJDMywXP_6n752yLQ4YEmRhc2hfYmFzZWxpbmVfMV92MREAdf4HAA&ccb=9-4&oh=00_AYDbxqd-ZcGWWyMMdTZ8Fr0S4MeLjLTTQpi-oY8ySjd2zA&oe=67AD1C55&_nc_sid=1d576d" type="video/mp4"> {% endcomment %}
        </video>
      </div>
    </div>
  </div>
  </div>
<script defer>

  document.addEventListener('DOMContentLoaded', async ()=>{

    const container = document.querySelector('.instagram-feed');
    const instagramId = container.dataset.instagramId;
    const postContainer = document.getElementById('instagram-posts');
    const header = container.querySelector('.header');

    const responseData = await fetchAllPost();
    console.log(responseData);

  
  })

  async function fetchAllPost(){
      try{
      const response = await fetch(`https://generating-celebrities-power-hand.trycloudflare.com/api/fetchPosts`)
      const data = await response.json();
      return data;  

    }catch(err){
      throw err;
    }
  }
  

</script>


{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}
